@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --red: #d63a25;
    --white: #fff;
    --dark: #1e1c2a;
}

body {
    color: var(--dark);
    background: var(--white);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
}

.navigation .logo img {
    height: 45px;
}

.navigation ul {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navigation ul li a {
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navigation ul li a:hover {
    color: var(--red);
}

.navigation i {
    cursor: pointer;
    font-size: 1.5rem;
}

.menu-icon {
    cursor: pointer;
    display: none;
}

.menu-icon .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}

.menu-icon .bar:nth-child(1),
.menu-icon .bar:nth-child(3) {
    background: var(--red);
}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10%;
}

.home-text {
    max-width: 37rem;
}

.home-text .text-h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 4rem;
}

.home-text p {
    font-weight: 500;
}

.home-text div p {
    margin-bottom: 3rem;
    font-weight: 500;
}

.home-btn {
    padding: 15px 45px;
    background: var(--red);
    color: var(--white);
    border-radius: 10px;
    font-weight: 700;
    transition: all 0.5s;
}

.home-btn:hover {
    background: #fc4c35;
}

.home-img img {
    width: 100%;
}

.cardapio {
    text-align: center;
    padding: 6rem 0;
}

.cardapio h2 {
    color: var(--dark);
    font-size: 1.8rem;
}

.cardapio .descricao-cardapio {
    color: #555;
    margin-bottom: 5rem;
}

.menu-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 7rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.menu-item {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.menu-item:nth-child(2n + 1) {
    flex-direction: row;
}

.menu-item:nth-child(2n) {
    flex-direction: row-reverse;
}

.menu-item:nth-child(2n + 1) .item-footer {
    flex-direction: row; 
}

.menu-item:nth-child(2n) .item-footer {
    flex-direction: row-reverse; 
    justify-content: right;
}

.item-image {
    width: 112px;
    height: 112px;
    border-radius: 8px;
    transition: transform 0.2s ease;
}

.item-image:hover {
    transform: scale(1.1);
}

.item-details {
    flex: 1;
}

.item-title {
    text-align: left;
    font-weight: bold;
}

.item-description {
    text-align: left;
    font-size: 15px;
    color: #555;
}

.item-footer {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 12px 0 5rem;
    gap: 20px;
}

.item-price {
    font-weight: bold;
    font-size: 18px;
    margin: 0;
}

.add-to-cart-btn {
    background-color: #1a1a1a;
    color: white;
    border: none;
    padding: 5px 12px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.add-to-cart-btn:hover {
    background-color: #333;
}

.add-to-cart-btn i {
    font-size: 18px;
}

.drinks-text {
    margin-bottom: 5rem;
}

footer button {
    display: flex;
    width: 100%;
    position: fixed;
    background-color: var(--dark);
    bottom: 0px;
    z-index: 40;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    cursor: pointer;
}

.cart-btn {
    color: #fff;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
}



.modal-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.total-text {
    font-weight: bold;
    margin-bottom: 20px;
}

.address-label {
    font-weight: bold;
    margin-top: 20px;
}

.address-input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}

.address-warn {
    color: red;
    margin-top: 5px;
    display: none;
}

.address-warn.hidden {
    display: none;
}

.address-warn:not(.hidden) {
    display: block;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.checkout-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.checkout-button:hover {
    background-color: darkgreen;
}

#close-modal-btn {
    background-color: #ccc;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#close-modal-btn:hover {
    background-color: #999;
}

.text-red-500 {
    color: #ef4444;
}

.text-green-500 {
    color: #16a34a;
}

.remove-btn {
    background-color: #ef4444;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.remove-btn:hover {
    background-color: #dc2626;
}

.hidden {
    display: none;
}

@media (max-width: 785px) {
    .navigation {
        padding: 18px 20px;
    }

    .menu-icon {
        display: block;
    }

    .menu-icon.ativo .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-icon.ativo .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.ativo .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: var(--white);
        gap: -10px;
        transition: 0.3s;
    }

    .nav-menu.ativo {
        right: 0;
    }

    .nav-item {
        margin: 16px 0;
    }

    .home {
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }

    .home .text-h1 {
        margin-top: 2rem;
        font-size: 2.5rem;
        line-height: 3rem;
    }

    .home p {
        font-size: 15px;
    }

    .home-img {
        width: 85%;
    }

    .menu-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .menu-item:nth-child(2n + 1) {
        flex-direction: row;
    }
    
    .menu-item:nth-child(2n) {
        flex-direction: row;
    }

    .menu-item:nth-child(2n) .item-footer {
        flex-direction: row; 
        justify-content: left;
    }

}